<launch>

  <!-- GDB functionality -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <!-- Verbose mode -->
  <arg name="verbose" default="false" />
  <arg unless="$(arg verbose)" name="command_args" value="" />
  <arg     if="$(arg verbose)" name="command_args" value="--verbose" />

  <!-- Launch pick and place -->
  <node name="romeo_block_pick_place_adv" launch-prefix="$(arg launch_prefix)" pkg="romeo_pick_place_adv"
  type="romeo_pick_place_adv" output="screen" args="$(arg command_args)">
    <rosparam command="load" file="$(find romeo_moveit_config)/config/kinematics.yaml"/>
    <rosparam command="load" file="$(find moveit_simple_grasps)/config/romeo_grasp_data.yaml"/>
    <remap from="/joint_states" to="/robot/joint_states" />
  </node>

</launch>
